{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "jest": true
  },
  "plugins": [
    "flowtype-errors",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "flowtype-errors/show-errors": 2,
    "react/prop-types": 0
  },
  "globals": {
    "fetch": true
  }
}
