.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
}

.status {
  margin-bottom: 10px
}

.winner {
  margin-bottom: 10px
}

.board-row::after {
  clear: both;
}

.square {
  width: 40px;
  height: 40px;
  float: left;
  font-size: 22px;
  line-height: 40px;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
  border: 1px solid #999;
}

.square:focus {
  outline: none;
}
